/* You can add global styles to this file, and also import other style files */
body {
    background: #ffe259;
    background: linear-gradient(to right, #ffa751, #ffe259);
}
.title {
    color: #fff;
    margin-bottom: 30px;
    border-bottom: 1px solid;
}

table {
    background: #fff;
}
.table>:not(:first-child) {
    border-top: none;
}
thead {
    color: #fff;
    background: #ffa751;
    text-align: center;
}